<!DOCTYPE html>
<html>
  <head>
    <title>Reporting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="">
    <div class="wrapper">
      <div class="main-panel">
          <%= render 'layouts/header' %>
          <div class="content">
            <%= yield %>
          </div>
          <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
